In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [21]:
data = pd.read_csv('dataset.csv')

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [23]:
X = data.drop(['charges'], axis = 1)
y = data['charges']

In [24]:
print(X.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
dtypes: float64(1), int64(2), object(3)
memory usage: 62.8+ KB
None

In [25]:
X.head()

   age     sex     bmi  children smoker     region
0   19  female  27.900         0    yes  southwest
1   18    male  33.770         1     no  southeast
2   28    male  33.000         3     no  southeast
3   33    male  22.705         0     no  northwest
4   32    male  28.880         0     no  northwest

In [26]:
X_ordinal = data[['sex', 'smoker', 'region']]

In [27]:
from sklearn.preprocessing import OrdinalEncoder

ode = OrdinalEncoder()
X_ordinal_T = ode.fit_transform(X_ordinal)

In [28]:
X = X.drop(['sex', 'smoker', 'region'], axis = 1)
X = pd.concat([X, pd.DataFrame(X_ordinal_T)], axis=1)
X

      age     bmi  children    0    1    2
0      19  27.900         0  0.0  1.0  3.0
1      18  33.770         1  1.0  0.0  2.0
2      28  33.000         3  1.0  0.0  2.0
3      33  22.705         0  1.0  0.0  1.0
4      32  28.880         0  1.0  0.0  1.0
...   ...     ...       ...  ...  ...  ...
1333   50  30.970         3  1.0  0.0  1.0
1334   18  31.920         0  0.0  0.0  0.0
1335   18  36.850         0  0.0  0.0  2.0
1336   21  25.800         0  0.0  0.0  3.0
1337   61  29.070         0  0.0  1.0  1.0

[1338 rows x 6 columns]

In [29]:
X = X.rename(columns={0: "sex", 1: "smoker", 2: "region"})

In [30]:
X.head()

   age     bmi  children  sex  smoker  region
0   19  27.900         0  0.0     1.0     3.0
1   18  33.770         1  1.0     0.0     2.0
2   28  33.000         3  1.0     0.0     2.0
3   33  22.705         0  1.0     0.0     1.0
4   32  28.880         0  1.0     0.0     1.0

In [31]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   bmi       1338 non-null   float64
 2   children  1338 non-null   int64
 3   sex       1338 non-null   float64
 4   smoker    1338 non-null   float64
 5   region    1338 non-null   float64
dtypes: float64(4), int64(2)
memory usage: 62.8 KB

In [32]:
X_train, X_test, y_train, y_test = X[:1074], X[1074:], y[:1074], y[1074:]

In [33]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1074 entries, 0 to 1073
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1074 non-null   int64
 1   bmi       1074 non-null   float64
 2   children  1074 non-null   int64
 3   sex       1074 non-null   float64
 4   smoker    1074 non-null   float64
 5   region    1074 non-null   float64
dtypes: float64(4), int64(2)
memory usage: 50.5 KB

In [34]:
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()
lin_reg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [35]:
print(lin_reg.intercept_, lin_reg.coef_)

-11837.68667771243 [  259.79667458   335.48856083   442.6097922   -240.03990365
 23665.75665876  -432.98834467]

In [37]:
from sklearn.model_selection import cross_val_score

lin_reg_scores = cross_val_score(lin_reg, X_train, y_train, cv=10)
lin_reg_scores.mean()

0.73763784746998

In [61]:
from sklearn.linear_model import SGDRegressor
from sklearn.model_selection import cross_val_score


sgd_reg = SGDRegressor(max_iter = 0000, penalty = None, eta0 = 0.001)
sgd_reg.fit(X_train, y_train.ravel())
print(sgd_reg.intercept_, sgd_reg.coef_)

sgd_reg_scores = cross_val_score(sgd_reg, X_train, y_train, cv=10)
sgd_reg_scores.mean()

[-2589.92076276] [  183.01658197   145.23598582   303.36505196  -194.16340866
 18942.94698136  -585.44966677]

0.6527540791497632